body {
 font-family: 'Tinos', serif , 'Open Sans', sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 22px;
 color: #656363;
 box-sizing: border-box;
}
.container {
 max-width: 1130px;
 padding: 0 10px;
 margin: 0 auto;
}
.container-mini {
 max-width: 940px;
 padding: 0 10px;
 margin: 0 auto;

}

.main-header {
 background-image: url(../img/bg-image.png);
 background-size: cover;
 background-repeat: no-repeat;
 height: 100vh;
}
.header-wrap {
 padding-top: 50px;
 color: #fff;
}
.header-inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 204px;
}
.logo {
 margin-right: auto;
}
.header-nav {
 display: flex;
 justify-content: space-between;
}
.nav-list {
 display: flex;
 align-items: center;
 gap: 20px;
 margin-right: 36px;
}

.nav-list__item {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 19px;
 text-transform: uppercase;
}
.nav-list__item:hover {
 color: #FF7400;
}
.header-cart {
 margin: auto 0;
}
.cart-img {
 position: relative;
}
.cart-img::after {
 position: absolute;
 content: '';
 background-image: url(../img/Line-1.svg);
 top: -10px;
 left: 38px;
 width: 1px;
 height: 50px;
}
.header-phone {
 margin-left: 55px;
}
.header-phone span {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 25px;
}
.header-phone span:hover {
 color: #FF7400;
}
.nav-phone__text {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 19px;
 margin-right: 50px;
}
.button {
 padding: 14px 18px;
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 19px;
 text-transform: uppercase;
 background-color: #FF7400;
}
.button:hover {
 background-color: #894106;
}
.header-suptitle {
 font-family: 'Tinos';
 font-style: normal;
 font-weight: 400;
 font-size: 50px;
 line-height: 57px;
 color: #D67E35;
}
.header-title {
 font-family: 'Tinos';
 font-style: normal;
 font-weight: 400;
 font-size: 80px;
 line-height: 92px;
 color: #D67E35;
 margin-bottom: 12px;
}
.header-subtitle {
 position: relative;
 max-width: 490px;
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 25px;
 text-align: center;
 margin-bottom: 35px;
} 
.header-subtitle::before {
 position: absolute;
 content: '';
 background-image: url(../img/line-2.png);
 width: 61px;
 height: 2px;
 top: 11px;
 left: 93px;
}
.header-subtitle::after {
 position: absolute;
 content: '';
 background-image: url(../img/line-2.png);
 width: 61px;
 height: 2px;
 top: 11px;
 left: 340px;
}
.header-btn-view {
 max-width: 490px;
 text-align: center;
 margin-bottom: 175px;
}
.button-view {
 padding: 14px 18px;
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 14px;
 line-height: 19px;
 text-transform: uppercase;
 background-color: #FF7400;
}
.cards {
 position: relative;
}
.card-wrap {
 position: absolute;
 top: -100px;
 display: flex;
 gap: 30px;
}
.card {
 flex-basis: 350px;
 padding: 25px;
 padding-top: 35px;
 background: #FFFFFF;
box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
margin-bottom: 120px;
}
.card-img {
 text-align: center;
 margin-bottom: 20px;
}
.card-title {
 font-family: 'Tinos';
 font-size: 26px;
 line-height: 30px;
 text-align: center;
 color: #2C2C2C;
 margin-bottom: 20px;

}
.card-title span {
 color: #BC9060;
}
.card-description {
 font-family: 'Tinos';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 30px;
text-align: center;
color: #656363;
}
.history-wrap {
 padding-top: 310px;
 padding-bottom: 120px;
 display: flex;
}
.history-wrap__left {
 max-width: 440px;
 margin-right: 125px;
}
.history-title {
 font-family: 'Tinos';
 font-size: 54px;
 line-height: 62px;
 color: #000000;
 text-align: center;
 margin-bottom: 21px;
}
.history-title span {
 color: #D67E35;
}
.history-text {
 font-family: 'Open Sans';
 font-size: 16px;
 line-height: 22px;
 text-align: center;
 color: #656363;
 padding-bottom: 30px;
 margin-bottom: 35px;
}
.history-list-sup {
 display: flex;
 justify-content:center;
 gap: 70px;
}
.history-list-sub {
 display: flex;
 justify-content: center;
 gap: 85px;
}
.sup-item {
 font-family: 'Open Sans';
font-size: 40px;
line-height: 54px;
color: #BC9060;
}
.sub-item {
 font-family: 'Open Sans';
font-size: 20px;
line-height: 27px;
color: #000000;
}
.history-wrap__right {
 position: relative;
}
.history-img-1 {
 position: absolute;
 top: 29px;
 left: -65px;
 z-index: 1;
}
.history-img-2 {
 position: absolute;
 top: 0px;
 left: 178px;
 z-index: 3;
}
.history-img-3 {
 position: absolute;
 top: 69px;
 left: 290px;
 z-index: 2;
}
.history-img-4 {
 position: absolute;
 bottom: -32px;
 right: -695px;
 z-index: 4;
}

.promo {
 background-color: #000000;
 margin-bottom: 132px;
}
.promo-wrap {
 padding-top: 80px;
 padding-bottom: 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.promo-left {
 max-width: 601px;
}
.promo-title {
 font-size: 52px;
 line-height: 60px;
 color: #D67E34;
 margin-bottom: 20px;
}
.promo-subtitle {
 font-family: 'Open Sans';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 33px;
 color: #FFFFFF;
}
.promo-btn {
 color: #FFFFFF;
}
.our_dishes {
 font-size: 54px;
 line-height: 62px;
 color: #000000;
 text-align: center;
 margin-bottom: 139px;
}
.our_dishes span {

 color:#D67E34;
} 
.dishes-wrap {
 display: flex;
 gap: 30px;
}
.hamb-inner {
 display: flex;
 flex-direction: column;
 gap: 30px;
 margin-bottom: 80px;
}
.hamburger-mini-item {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 30px;
}
.hamb-price {
 font-size: 26px;
line-height: 30px;
color: #000000;
}
.menu {
 background-image: url(../img/bar.png);
 background-size: cover;
 background-repeat: no-repeat;
}
.menu-cards {
 padding-top: 300px;
 padding-bottom: 228px;
 display: flex;
 gap: 30px;
}
.menu-card {
 position: relative;
 flex-basis: 350px;
 background-color: #FFFFFF;
 padding-bottom: 30px;
}
.menu-card-promo {
 font-family: 'Open Sans';
font-size: 13px;
line-height: 18px;
text-align: center;
color: #000000;
background-color:#D67E34;
max-width: 124px;
padding-bottom: 12px;
padding-top: 7px;
padding-left: 12px;
padding-right: 12px;
margin-bottom: 44px;
}

.hamb-img {
 z-index: 1;
 text-align: center;
 margin-bottom: 22px;
}
.price-img {
 position: absolute;
 top: 203px;
 left: 214px;
 width: 100px;
 height: 100px;
 z-index: 2;
}
.card-descr {
 font-family: 'Open Sans';
 font-size: 16px;
 line-height: 22px;
 text-align: center;
 color: #000000;
 margin-bottom: 20px;
}
.menu-button {
 text-align: center;
 margin-bottom: 30px;
}
.card-button {
 max-width: 220px;
 padding: 14px 67px;
 font-family: 'Open Sans';
 font-weight: 700;
 font-size: 14px;
 line-height: 19px;
 text-transform: uppercase;
 color: #FFFFFF;
 background-color: #D67E34;
}
.menu-comment {
 padding-top: 104px;
 background-color: #E5E5E5;
 padding-bottom: 130px;
}
.menu-wrap {
 text-align: center;
}
.comment-text {
 max-width: 920px;
 font-family: 'Open Sans';
 font-style: italic;
 font-size: 20px;
 line-height: 27px;
 text-align: center;
 color: #000000;
 margin-bottom: 30px;
}
.comment-img {
 text-align: center;
 margin-bottom: 30px;
}
.comment-name {
 font-family: 'Open Sans';
 font-weight: 600;
 font-size: 20px;
 line-height: 27px;
 text-align: center;
 color: #000000;
 margin-bottom: 20px;
}
.comment-name span {
 display: block;
 text-align: center;
 font-family: 'Open Sans';
 font-weight: 400;
 font-size: 20px;
 line-height: 27px;
 color: #000000;
}
.gallery {
 padding-top: 70px;
 padding-bottom: 80px;
}
.gallery-title {
 font-family: 'Tinos';
 font-style: normal;
 font-weight: 400;
 font-size: 54px;
 line-height: 62px;
 text-align: center; 
 color: #000000;
 margin-bottom: 66px; 
}
.gallery-title span {
 color: #D67E34;
}
.gallery-img {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.cooks {
 padding-top: 70px;
 padding-bottom: 80px;
}
.cooks-title {
 font-family: 'Tinos';
 font-style: normal;
 font-weight: 400;
 font-size: 54px;
 line-height: 62px;
 text-align: center; 
 color: #000000;
 margin-bottom: 66px; 
}
.cooks-title span {
 color: #D67E34;
}
.cooks-img {
 display: flex;
 gap: 30px;
 margin-bottom: 72px;
}






